<div class="container">
  <div class="flex flex-row items-center justify-between mb-4">
    <div>
      <h1 class="text-2xl font-bold">Employee List</h1>
    </div>
    <div>
      <button type="button" class="btn-primary" (click)="addEmployee()">
        Add
      </button>
    </div>
  </div>

  @if (employees.length > 0) {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex gap-2">
          <button type="button" (click)="detailEmployee(element.id)">
            <mat-icon
              aria-hidden="false"
              aria-label="see icon"
              fontIcon="details"
              class="text-green-500"
            ></mat-icon>
          </button>
          <button type="button" (click)="editEmployee(element.id)">
            <mat-icon
              aria-hidden="false"
              aria-label="see icon"
              fontIcon="edit"
              class="text-yellow-500"
            ></mat-icon>
          </button>
          <button type="button" (click)="deleteEmployee(element.id)">
            <mat-icon
              aria-hidden="false"
              aria-label="see icon"
              fontIcon="delete"
              class="text-red-600"
            ></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    class="mat-elevation-z1"
  >
  </mat-paginator>
  } @else {
  <div class="flex flex-col gap-4 items-center border rounded-xl p-4">
    <p>Data not available</p>
    <button type="button" class="btn-primary" (click)="addEmployee()">
      Add Employee Data
    </button>
  </div>
  }
</div>
