<div class="flex flex-row items-center justify-between mb-4">
  <div>
    <h1 class="text-2xl font-bold">Employee</h1>
  </div>
</div>

<div>
  <div class="my-3">
    <p class="text-sm">Username</p>
    <h4 class="text-xl font-medium">{{ employee?.username }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Name</p>
    <h4 class="text-xl font-medium">
      {{ [employee?.firstName, employee?.lastName].join(" ") }}
    </h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Email</p>
    <h4 class="text-xl font-medium">{{ employee?.email }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Date of Birth</p>
    <h4 class="text-xl font-medium">{{ employee?.birthDate }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Basic Salary</p>
    <h4 class="text-xl font-medium">{{ employee?.basicSalary | number }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Status</p>
    <h4 class="text-xl font-medium">{{ employee?.status }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Group</p>
    <h4 class="text-xl font-medium">{{ employee?.group }}</h4>
  </div>
  <div class="my-3">
    <p class="text-sm">Description</p>
    <h4 class="text-xl font-medium">{{ employee?.description }}</h4>
  </div>
</div>
