<mat-toolbar
  class="!w-full !h-14 !fixed !top-0 !left-0 !right-0 !p-0 !bg-indigo-600 z-50"
>
  <div class="flex items-center w-full">
    <div>
      <button type="button" mat-button (click)="sidenav.toggle()">
        <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu" class="text-white"></mat-icon>
      </button>
    </div>
    <div class="grow">
      <h1 class="text-white">Employee Management</h1>
    </div>
    <div>
      <button type="button" mat-button (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="logout" class="text-white"></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>


<mat-sidenav-container class="bg-[#eee] mt-14">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="!w-80"
    [fixedInViewport]="true"
    [fixedTopGap]="56"
  >
    <div class="p-4 flex flex-col gap-4">
      <button class="btn-primary" routerLink="dashboard">Dashboard</button>
      <button class="btn-primary" routerLink="employee">Employee</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-6">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
