<div class="flex flex-row items-center justify-between mb-4">
  <div>
    <h1 class="text-2xl font-bold">Add Employee</h1>
  </div>
</div>

<div>
  <form #f="ngForm" action="#" (ngSubmit)="onSubmit(f)">
    <div class="-space-y-px form-group">
      <div>
        <label for="username" class="not-sr-only">Username</label>
        <input
          [(ngModel)]="form.username"
          id="username"
          name="username"
          type="text"
          required
          class="form-input"
          placeholder="Username"
        />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="firstname" class="not-sr-only">First Name</label>
          <input
            [(ngModel)]="form.firstName"
            id="firstname"
            name="firstName"
            type="text"
            required
            class="form-input"
            placeholder="First Name"
          />
        </div>
        <div>
          <label for="lastname" class="not-sr-only">Last Name</label>
          <input
            [(ngModel)]="form.lastName"
            id="lastname"
            name="lastName"
            type="text"
            required
            class="form-input"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div>
        <label for="emailaddress" class="not-sr-only">Email address</label>
        <input
          [(ngModel)]="form.email"
          id="emailaddress"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="form-input"
          placeholder="Email address"
        />
      </div>
      <div>
        <label for="dob" class="not-sr-only">Date of Birth</label>
        <input
          [(ngModel)]="form.birthDate"
          id="dob"
          name="birthDate"
          type="date"
          required
          class="form-input"
          placeholder="Date of Birth"
        />
      </div>
      <div>
        <label for="basicsalary" class="not-sr-only">Basic Salary</label>
        <input
          [(ngModel)]="form.basicSalary"
          id="basicsalary"
          name="basicSalary"
          type="number"
          required
          class="form-input"
          placeholder="Basic Salary"
        />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="status" class="not-sr-only">Status</label>
          <input
            [(ngModel)]="form.status"
            id="status"
            name="status"
            type="text"
            required
            class="form-input"
            placeholder="Status"
          />
        </div>
        <div>
          <label for="group" class="not-sr-only">Group</label>
          <!-- <mat-form-field>
            <mat-select
              [formControl]="groupCtrl"
              placeholder="Group"
              #singleSelect
              locale="en-US"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="groupFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let g of filteredGroups | async"
                [value]="g"
              >
                {{ g }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <select
            mat-native-control
            [(ngModel)]="form.group"
            id="group"
            name="group"
            class="form-input"
            required
            placeholder="Group"
          >
            <option value="Group A">Group A</option>
            <option value="Group B">Group B</option>
            <option value="Group C">Group C</option>
            <option value="Group D">Group D</option>
            <option value="Group E">Group E</option>
            <option value="Group F">Group F</option>
            <option value="Group G">Group G</option>
            <option value="Group H">Group H</option>
            <option value="Group I">Group I</option>
            <option value="Group J">Group J</option>
          </select>
        </div>
      </div>
      <div>
        <label for="description" class="not-sr-only">Description</label>
        <textarea
          [(ngModel)]="form.description"
          id="description"
          name="description"
          type="text"
          required
          class="form-input"
          placeholder="Description"
        ></textarea>
      </div>
    </div>

    <div class="flex gap-6">
      <button type="submit" class="btn-primary">Submit</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
