/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  @apply relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600;
  @apply hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;

  &-full {
    @extend .btn-primary;
    @apply w-full;
  }
}

.form-group {
  .form-input {
    @apply w-full px-3 py-2 mt-1 mb-3;
    @apply appearance-none rounded-md relative block border border-gray-300 placeholder-gray-500 text-gray-900;
    @apply focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
  }

  label {
    @apply text-sm;
  }
}
